<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="icon" href="/img/broom.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <img class= "animated slideInLeft" style= "animation-duration: 10s; animation-delay: 3s; position:absolute; left:-10; height: 30%; width: 20%; visibility: hidden;" src= "img/SpicyClamsLogo.png" alt= "Spicy Clams logo">


  <title>cleanHouse - Homepage</title>
</head>

{{!-- Main body --}}

<body>
  {{{body}}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>

</html>