<div id="home">
    <div class="container-fluid">
        {{!-- Title --}}
        <div class="row">
            <div class="col-md" id="title">
                <h1 id="whiteText"><img src="/img/broom.png" / class="titleImage">clean<span id="greyText">House</span>
                </h1>
            </div>
        </div>
        <div class="row" id="title">
            {{!-- Main Chore Addition body --}}
            {{!-- Spacing div --}}
            <div class="col-md-4"></div>
            {{!-- Form for chore input --}}
            <div class="col-md">
                <div class="form-group">
                    {{!-- Chore name --}}
                    <h3 id="greyText"><span id="whiteText">Enter</span> chore name</h3>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="newChoreName">Name</span>
                        <input type="text" class="form-control" id = "choreName" placeholder="">
                    </div>
                    {{!-- Chore description --}}
                    <h3 id="greyText"><span id="whiteText">Enter</span> chore description</h3>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Description</span>
                        <input type="text" class="form-control" placeholder="" id="newChoreDesc">
                    </div>
                    {{!-- Create Chore button --}}
                    <a href="/"><button class="btn btn-secondary" type="submit" id="addChoreButton">Create 
                            chore</button></a>
                            <br>
                            {{!-- Home button --}}
                        <a href="/" id="whiteText">Home</a>
                </div>
            </div>
            {{!-- Spacing div --}}
            <div class="col-md-4"></div>
        </div>
              {{!-- Div that displays chore responsibilities --}}
      <div class="col-md-3">
        <h3 id="whiteText">chore<span id="greyText">Responsibilities</span></h3>
        <div id="descriptionText"></div>
      </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>