<div id="home">
    <div class="container-fluid">
        {{!-- Title --}}
        <div class="row">
            <div class="col-md" id="title">
                <h1 id="whiteText"><img src="/img/broom.png" / class="titleImage">clean<span id="greyText">House</span>
                </h1>
            </div>
        </div>

        <div class="row" id="title">

            {{!-- Main FAQ body --}}
            <div class="col-md-4"></div>
            <div class="col-md">
                <h3 id="greyText"><span id="whiteText">F</span>AQ</h3>
                <p id="greyText"><span id="whiteText">To </span> use this app, simply enter your name, select a chore
                    you would like to complete, and indicate which day you'd prefer to complete it.<br> <span
                        id="whiteText">The </span>section
                    titled choreSchores is an upcoming feature.</p>
                <p id="greyText"><span id="whiteText">This </span> application was created and developed by:</p>
                <br>
                <p id="greyText"><span id="whiteText">Aaron </span>Odland</p>
                <p id="greyText"><span id="whiteText">Ian </span>Gacek</p>
                <p id="greyText"><span id="whiteText">Shaun </span>Swieringa</p>
                <p id="greyText"><span id="whiteText">Vincent </span>Romine</p>
                <a href="/" id="whiteText">Return home</a>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="col"></div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>