<div id="home">
  <div class="container-fluid">
    {{!-- Title --}}
    <div class="row">
      <div class="col-md" id="title">
        <h1 id="whiteText"><img src="/img/broom.png" / class="titleImage">clean<span id="greyText">House</span><span id="punctuation">.</span></h1>
      </div>
    </div>

    {{!-- Main Body --}}
    <div class="row" id="title">
      <div class="col"></div>
      {{!-- Left column for scores --}}
      <div class="col-md-3">
        <h3 id="whiteText">chore<span id="greyText">Schores</span><span id="punctuation">:</span></h3>
        <ul id="leaderboard" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>

      {{!-- Input box for name--}}
      <div class="col-md-3">
        <div class="form-group">
          <h3 id="greyText"><span id="whiteText">Enter</span> your name</h3>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="name">Name</span>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="name" aria-describedby="basic-addon1">
          </div>
          <br>

          {{!-- Input box for chore selection --}}
          <h3 id="greyText"><span id="whiteText">Select</span> a chore</h3>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Chores</label>
            </div>
            <select class="custom-select" id="choreChoice">
              <option selected></option>
              <option title="This is the text of the tooltip" value="kitchen">Kitchen</option>
              <option value="livingRoom">Living Room</option>
              <option value="bathroom">Bathroom</option>
              <option value="bedroom1">Bedroom 1</option>
              <option value="bedroom2">Bedroom 2</option>
              <option value="bedroom3">Bedroom 3</option>
              <option value="hallway">Hallway</option>
            </select>
          </div>
        </div>
        <br>

        {{!-- Input box for desired day selection --}}
        <h3 id="greyText"><span id="whiteText">Select</span> a day</h3>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Day</label>
          </div>
          <select class="custom-select" id="dayOfTheWeek">
            <option selected></option>
            <option value="1">Sunday</option>
            <option value="2">Monday</option>
            <option value="3">Tuesday</option>
            <option value="4">Wednesday</option>
            <option value="5">Thursday</option>
            <option value="6">Friday</option>
            <option value="7">Saturday</option>
          </select>
        </div>

        {{!-- Submit button --}}
        <button class="btn btn-secondary" type="submit" id="whiteText">Let's<span id="submitText"> go</span><span id="punctuation">!</span></button>
        <button class="btn btn-secondary" type="clear" id="whiteText">C<span id="submitText">lear</span></button>
        </form>
        <br>
        <a href="/faq" id="whiteText">FAQ</a> |
        <a href="/createchore" id="whiteText">Create a chore</a>
      </div>

      {{!-- Div that displays chore responsibilities --}}
      <div class="col-md-3">
        <h3 id="whiteText">chore<span id="greyText">Responsibilities</span></h3>
        <div id="descriptionText"></div>
      </div>
      <div class="col"></div>
    </div>

    {{!-- Calendar --}}
    <div class="row">
      <div class="col-md" id="title">
        <h2 id="whiteText">C<span id="greyText">alendar</span></h2>
      </div>
    </div>
    <div class="row" id="title">
      <div class="col"></div>
      <div class="col calendarDay" id="sunday"><span>S</span>unday</div>
      <div class="col calendarDay" id="monday"><span>M</span>onday</div>
      <div class="col calendarDay" id="tuesday"><span>T</span>uesday</div>
      <div class="col calendarDay" id="wednesday"><span>W</span>ednesday</div>
      <div class="col calendarDay" id="thursday"><span>T</span>hursday</div>
      <div class="col calendarDay" id="friday"><span>F</span>riday</div>
      <div class="col calendarDay" id="saturday"><span>S</span>aturday</div>
      <div class="col"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>