body {
  background-color: rgb(230, 230, 230);
}

.list-group-item {
  line-height: 2.5;
}


#title {
  text-align: center;
  padding-top: 12px;
}

#submitText {
  color: rgb(199, 199, 199);
}

#whiteText {
  color: white;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

#greyText {
  color: grey;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.calendarDay {
  font-size: 18px;
  color:grey;
  
}

.calendarDay span {
  color: white;
  /* text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey; */
}

.titleImage {
  width: 55px;
  margin-right: 10px;
}

li {
  list-style-image: url("../img/broomSmall.png");
  color:grey;
  padding: 5px;
}