.list-group-item {
  line-height: 2.5;
}

#title {
  text-align: center;
  background-color: rgb(230, 230, 230);
  padding: 10px;
}

#submitText {
  color: rgb(199, 199, 199);
}

#whiteText {
  color: white;
}

#greyText {
  color: grey;
}